.poster_image{
    background-color:aquamarine;
   width: 100%;
   height: 100%;
}
.movie_name{
   text-align: center;
   width: 100%;
   height: auto; 
}
.heading{
    width: 100%;
text-align: center;
    justify-content: center;
}
body{
    background-color: antiquewhite;
}
.add_movies_in_it{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.single_movie{
 margin: 20px;
 background-color: #ddd;
display: flex;
flex-direction: column;
width: 200px;
cursor: pointer;
}

.search_movie{
    padding: 6px;
    padding-right: 0px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
    border-radius: 5px;
  }
.search_container_button {
    padding: 6px;
    background: #ddd;
    font-size: 17px;
    border: none;
    margin: 0;
    font-weight: 500;
    border-radius: 5px;
  }
  .pagination {
    display: inline-block;
    background-color: white;
    }
  
  .pagination button {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  .align_page_buton{
    width: 100%;
    justify-content: end;
    display: flex;
    flex-direction: row-reverse;
  }
  .current_page{
    background-color: #4CAF50;
    width: 38px;
    height: 35px;
    line-height: 35px;
    color: white;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    border: 1px solid;
    justify-content: center;
}
  .pagination button:hover:not(.active) {background-color: #ddd;}

  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  